.a-materials {}
  .a-materials--data {
    max-height: calc(2em * 5 + 0.5em);
  }
  .a-materials--count,
  .a-materials--name {
    border-right: 1px solid rgba(0, 0, 0, 0.25);
  }
  .a-materials--table {
    border-collapse: collapse;
    display: block;
    margin: -0.5em;
  }
  .a-materials--table td {
    padding: 0.5em;
    text-align: right;
    white-space: nowrap;
  }
  .a-materials--table th {
    padding: 0.5em;
    text-align: left;
    width: 100%;
  }
  .a-materials--table tr {
    transition: opacity 0.25s ease;
  }
  .a-materials--table:focus-within tr,
  .a-materials--table:hover tr {
    opacity: 0.333;
  }
  .a-materials--table:focus-within tr:focus,
  .a-materials--table:hover tr:hover {
    opacity: 1;
  }
