* {
  scrollbar-color: #000000 #FFFFFF;
  scrollbar-width: 1em;
}
::-webkit-scrollbar {
  cursor: ns-resize;
  width: 1em;
}
::-webkit-scrollbar-thumb {
  background-color: #000000;
}
::-webkit-scrollbar-track {
  background-color: #FFFFFF;
}
